/ {
	chosen {
		zephyr,bt-uart=&lpuart;
	};
};

// /* leds {
// 	compatible = "gpio-leds";
// 	red_led: led_1 {
// 		gpios = <&gpio0 29 0>;
// 		label = "RGB red channel";
// 	};
// 	green_led: led_2 {
// 		gpios = <&gpio0 30 0>;
// 		label = "RGB green channel";
// 	};
// 	blue_led: led_3 {
// 		gpios = <&gpio0 31 0>;
// 		label = "RGB blue channel";
// 	};
// 	/delete-property/  sense_red_led;
// 	/delete-property/ sense_green_led;
// 	/delete-property/ sense_blue_led;
// };*/

// &pwm1 {
// 	status = "disabled";
// 	//ch0-pin = <28>;
// };

// // PWM2 is intended for NMOS transistor control 
// &pwm2 {
// 	status = "disabled";
// 	// ch0-pin = <13>;
// 	// ch1-pin = <14>;
// 	// ch2-pin = <15>;
// 	// ch3-pin = <16>;
// };

// &pwm3 {
// 	status = "disabled";
// };

// &i2c2 {
// 	compatible = "nordic,nrf-twim";
// 	status = "disabled";
// };

// &spi3 {
// 	compatible = "nordic,nrf-spim";
// 	status = "disabled";
// }; 

&uart1 {
	current-speed = <1000000>;
	status = "okay";
	tx-pin = <22>;
	rx-pin = <23>;
	/delete-property/ rts-pin;
	/delete-property/ cts-pin;
	/delete-property/ hw-flow-control;

	lpuart: nrf-sw-lpuart {
		compatible = "nordic,nrf-sw-lpuart";
		status = "okay";
		label = "LPUART";
		req-pin = <24>;
		rdy-pin = <25>;
	};
};

&gpiote {
	interrupts = <49 NRF_DEFAULT_IRQ_PRIORITY>;
};