#
# Copyright (c) 2021 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "HIVE_HUB"
	
config BEE_COUNTER_NAME
	string "Name of your Bee Counter Device"
	default "ItsyBitsy"

config BEE_COUNTER_ENABLE
	bool "Enable if you want the device to connect to the Bee Counter"
	default y

#Add Broodminder address, if we figure out how to add an address

config BROODMINDER_WEIGHT_ENABLE
	bool "Enable if you want the device to scan for the Broodminder Weight"
	default y

config THINGY_ENABLE
	bool "Enable if you want the device to connect to a Thingy:52"
	default y

config THINGY_CONNECTIONS
	int "Number of Thingy:52 in the hive"
	default 0 if !THINGY_ENABLE
	default 1

config THINGY_NAME
	string "Name of your thingy"
	default "Thingy"

config BLE_TO_CLOUD_APP_VERSION
	string "Bluetooth to cloud application firmware version"
	default "0.0.0-development"

config BLE_TO_CLOUD_APP_VERSION_MAX_LEN
	int "Maximum length of application firmware version"
	default 150

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

module = APPLICATION_MODULE
module-str = Application module
source "subsys/logging/Kconfig.template.log_config"
